<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block head_title %}
        {% endblock head_title %}
    </title>
</head>
<body>
    <b>FUNS PORTAL</b>

    <!-- Page title wrapper-->
    <div id="page-title-wrapper">
        <!-- Page content-->
        {% block title %}
        {% endblock title %}
    </div>

    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Page content-->
        {% block content %}
        {% endblock content %}
    </div>
    {% if user.is_authenticated %}
        <h2>
            <button><a href="/sign/logout/">Выйти</a></button>
        </h2>
    {% endif %}
</body>
</html>